* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Verdana', 'Segoe UI', 'San Francisco', sans-serif;
}

#navigator {
    
    background-color: black;
    display: flex;
    
    justify-content: space-between;
    
    
}

/* style header logo */
#nav-logo {
    
    width: 5%;
    height: 5%;
    margin: 1%;
    margin-left: 2%;

}

#button-container {
    display: flex;
    margin-right: 2%;
    
}

#navigator button {
    background-color: transparent;
    margin: 0px;
    float: right;
    color: white;
    
    border: none;
    width: 7em;
    
}

#navigator button:hover {
    background-color:rgb(212, 0, 0);
    transition: 0.3s;
}

#cd-section {
    display: flex;
    justify-content: space-between; /* Change this to space-between */
    align-items: center; 
    background-color: #145f3d; 
    
}

#cd1 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* จัดแนวในแนวนอน */
    flex: 1; 
}

#cd1-flag {
    display: flex; /* ทำให้ div เป็น flex container */
    flex-direction: column; /* จัดองค์ประกอบในแนวตั้ง */
    align-items: center; /* จัดให้อยู่กลางในแนวขวาง */
    
    color: white;
    
}

#cd1-location {
    display: flex; /* ทำให้ div เป็น flex container */
    flex-direction: column; /* จัดองค์ประกอบในแนวตั้ง */
    align-items: center; /* จัดให้อยู่กลางในแนวขวาง */
    margin: 0 5px; /* ลดระยะห่างด้านข้าง */
    color: white;
    flex-grow: 1; /* ให้ cd1-location ขยายเต็มที่ */
    min-width: 100px; /* กำหนดความกว้างขั้นต่ำถ้าต้องการ */
}



#cd2 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
}

#cd3 {
    border: 2px solid red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
}

#cd-section #flag {
    height: 10%;
    width: 10%;
    margin-bottom: 3%;
}

#cd-section #cd-timer {
    object-fit: cover;
}

/*  */

#cd3 button {
    background-color: #007bff; /* A bold blue background */
    color: white; /* White text */
    padding: 10px 20px; /* Adds space around the text */
    font-size: 16px; /* Slightly larger text */
    font-weight: bold; /* Makes the text bold */
    border: none; /* Removes the default border */
    border-radius: 5px; /* Slightly rounded corners */
    cursor: pointer; /* Changes the cursor to a pointer */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

#cd3 button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* #cd3 button {
    
    
    background: transparent;
    border: 0;
    
    transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
    transition: transform 0.2s;
    position: relative;
}
  
#cd3 button:hover {
    --y: -10;
    --scale: 1.1;
    --border-scale: 1;
} */

.banner {
    display: flex;
    
    align-items: center;
    justify-content: center;
    width: 100%; 
    overflow: hidden; 
}
  
  




/*  */




/*  */


  
  
  
