* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Verdana', 'Segoe UI', 'San Francisco', sans-serif;
    background-color: black;
}


/* navvv */
#navigator {
    
    background-color: black;
    display: flex;
    
    justify-content: space-between;
    
    
}


#nav-logo {
    
    width: 5%;
    height: 5%;
    margin: 1%;
    margin-left: 2%;

}

#button-container {
    display: flex;
    margin-right: 2%;
    
}

#navigator button {
    background-color: transparent;
    margin: 0px;
    float: right;
    color: white;
    
    border: none;
    width: 7em;
    
}

#navigator button:hover {
    background-color:rgb(212, 0, 0);
    transition: 0.3s;
}


/* countdown section */
#cd-section {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #145f3d; 
    
}

#cd1 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    flex: 1; 
}

#cd1-flag {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    
    color: white;
    
}

#cd1-location {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin: 0 5px; 
    color: white;
    flex-grow: 1; 
    min-width: 100px; 
}



#cd2 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
}

#cd3 {
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
}

#cd-section #flag {
    height: 10%;
    width: 10%;
    margin-bottom: 3%;
}

#cd-section #cd-timer {
    object-fit: cover;
}



#cd3 button {
    background-color: black; 
    color: white; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

#cd3 button:hover {
    background-color: red; 
}


/* banner or header */
.banner {
    display: flex;
    
    align-items: center;
    justify-content: center;
    width: 100%; 
    overflow: hidden; 
}

.banner-image h1{
    top: 400px;
    right: 1500px;
    color: white;
    position: absolute;
}

.banner-image p{
    top: 460px;
    right: 1595px;
    color: white;
    position: absolute;
}
  
/* driver standing */
#d-stand {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 3em;
    background-color: grey;
}

#d-stand img {
    width: 80%;
    height: 80%;
}

#d-stand div {
    margin: 20px;
}



#stand1 {
    
    width: 70%;
    height: 70%;
    top: 10%;
    
}

#stand1 h1 {
    background-color: gold;
}

#stand2,#stand3 {
    
    width: 60%;
    height: 60%;
    bottom: 10px;
}

#stand2 h1 {
    background-color: silver;
}

#stand3 h1 {
    background-color: rgba(184, 75, 12, 0.973);
}

#ds-header {
    background-color: black;
    text-align: center;
    margin-top: 1em;
    color: red;
}


footer {
    color: white;
    height: 30px;
    
    text-align: center;
}




  
  
  
